__pycache__
.*_cache/
.coverage
.coverage*
.DS_Store
.hypothesis
.mypy_cache
.nox/
.pdm-python
.test2ref
.tox
.venv*
*.egg-info/
*.pyc
*.xml
/.vscode
build/
dist/
docs/_readthedocs/
poetry.lock
report.xml
setup.py
